@charset "utf-8";
/* CSS Document */

*{
	text-decoration: none;
}

  body{margin-top:50px;}

  #container{
	width: 1300px;
	height: 435px;
	position: relative;
	overflow: hidden;
	
}

  #list{
	width: 9100px;
	height: 435px;
	position: absolute;
	z-index: 1;
	top: -2px;
}

  #list img{float:left;}

  #buttons{
	position: absolute;
	height: 10px;
	width: 100px;
	z-index: 2;
	bottom: 10px;
	left: 610px;
}

  #buttons span{
	cursor: pointer;
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin-right: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #CCC;
}

  #buttons .on{
	background-color: #666;
}

  .arrow{cursor:pointer; display:none; line-height:39px; text-align:center; font-size:36px; 

        font-weight:bold; width:40px; height:40px;  position:absolute; z-index:2; top:180px;

background-color: RGBA(0,0,0,.3); color:#fff;}

   .arrow:hover{background-color:RGBA(0,0,0,.7);}

   #container:hover .arrow{display:block;}

   #prev{left:20px;}

   #next{right:20px;}
#list img {
	margin-top: 20px;
}

.bottom {
	background-image: url(../images/zhbj.png);
	height: 539px;
	width: 1300px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.one {
	padding-top:70px;
	padding-left: 200px;
}
.one b {
	font-family: "Adobe 楷体 Std R";
	letter-spacing: 4px;
	font-size: 37px;
	line-height: 24px;
	color: #83C5F2;
	font-weight: lighter;
}
.one l {
	font-family: "Adobe 宋体 Std L";
	letter-spacing: 2px;
	font-size: 39.6px;
	line-height: 22px;
	color: #83C5F2;
	
}
.two{
	padding-top:40px;
	padding-left: 200px;
}
.two b {
	font-family: "新宋体";
	letter-spacing: 3px;
	font-size:23px;
	line-height:28px;
	color: #4287C1;
}
.two l {
	font-family: "新宋体";
	letter-spacing: 5px;
	font-size: 16px;
	line-height: 18px;
	color: #4287C1;
	
}
.three{
	padding-top: 40px;
	padding-left: 200px;
	float: left;
}
.three b {
	font-family: "新宋体";
	letter-spacing: 3px;
	font-size: 11px;
	line-height: 18px;
	color: #4287C1;
}
.three l {
	font-family: "Adobe 宋体 Std L";
	letter-spacing: 5px;
	font-size: 13px;
	line-height: 22px;
	color: #83C5F2;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #83c5f2;
	width: 60px;
	padding-top: 10px;
	padding-right: 80px;
}
.three1{
	padding-top: 40px;
	padding-left: 60px;
	float: left;
}
.three1 b {
	font-family: "新宋体";
	letter-spacing: 3px;
	font-size: 11px;
	line-height: 18px;
	color: #4287C1;
}
.three1 l {
	font-family: "Adobe 宋体 Std L";
	letter-spacing: 5px;
	font-size: 13px;
	line-height: 22px;
	color: #83C5F2;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #83c5f2;
	width: 60px;
	padding-top: 10px;
	padding-right: 80px;
}
.three2{
	padding-top: 40px;
	padding-left: 60px;
	float: left;
}
.three2 b {
	font-family: "新宋体";
	letter-spacing: 3px;
	font-size: 11px;
	line-height: 18px;
	color: #4287C1;
}
.three2 l {
	font-family: "Adobe 宋体 Std L";
	letter-spacing: 5px;
	font-size: 13px;
	line-height: 22px;
	color: #83C5F2;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #83c5f2;
	width: 60px;
	padding-top: 10px;
	padding-right: 80px;
}
.three3{
	padding-top: 40px;
	padding-left: 60px;
	float: left;
}
.three3 b {
	font-family: "新宋体";
	letter-spacing: 3px;
	font-size: 11px;
	line-height: 18px;
	color: #4287C1;
}
.three3 l {
	font-family: "Adobe 宋体 Std L";
	letter-spacing: 5px;
	font-size: 13px;
	line-height: 22px;
	color: #83C5F2;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #83c5f2;
	width: 60px;
	padding-top: 10px;
	padding-right: 80px;
}
.five {
	font-family: "新宋体";
	padding-left: 220px;
	font-size: 11px;
	line-height: 140px;
	color: #4287C1;
}
.box {
	width: 1300px;
	background-color: #FFF;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top:-2px;
}
.nav{
	font-size: 22px;
	width: 1300px;
	font-family: "新宋体";
	line-height: 50px;
	color: #666;
	text-align: center;
	float: left;
	height: 50px;
	margin-right: 2px;
}
.pr {
	float: left;
	height: 50px;
	width: 150px;
	margin-left: 190px;
	margin-right: 190px;
}
.prv{
	float: right;
	height: 50px;
	width: 150px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.wz {
	height: 50px;
	width: 110px;
	float: left;
	font-size: 17px;
	margin-left: 30px;
}
.wz:hover {color:#284b89;cursor:
           pointer;transform:scale(1.2,1.2);
		    transform:all 0.5s;
}
.wz1:hover {color:#284b89;
            cursor: pointer;
			transform:scale(1.2,1.2)
}
.wz1{
	height: 50px;
	width: 110px;
	float: left;
	font-size: 17px;
	margin-left: 30px;
	color: #1d5177;
	cursor: pointer;
}
.pr img {
	position: absolute;
	top: 58px;
}
.prv img {
	position: absolute;
	top: 62px;
}
.ph img {
	margin-top: 20px;
}
.po {
	text-align: center;
}
.por{
	text-align: center;
}
.po img {
	margin-top: 70px;
	margin-bottom: 60px;
}
.shuli{
	text-align: center;
	margin-top: 40px;
}
.xw1{
	float: left;
	margin-left: 200px;
}
.ckgd {
	margin-top: 100px;
	margin-bottom: 60px;
	font-family: "新宋体";
	font-size: 21px;
	width: 100px;
	padding: 5px;
	text-align: center;
	border: 1px solid #9A9A9A;
	margin-left: 595px;
	color: #9A9A9A;
}
.ckgd:hover {
	color: #666666;
	cursor: pointer;
	background-color: #D9D9D9;
}
.zh{
	padding-top: 80px;
}
.center {
	width: 1300px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align: center;
}
.three3:hover {
	cursor: pointer;
}
.three2:hover {
	cursor: pointer;
}
.three1:hover {
	cursor: pointer;
}
.three:hover {
	cursor: pointer;
}
.three3 l:hover {
	cursor: pointer;
	color: #FFFFFF;
	border-top-color:  #FFFFFF;
}
.three2 l:hover {
	cursor: pointer;
	color: #FFFFFF;
	border-top-color:  #FFFFFF;
}
.three1 l:hover {
	cursor: pointer;
	color: #FFFFFF;
	border-top-color:  #FFFFFF;
}
.three l:hover {
	cursor: pointer;
	color: #FFFFFF;
	border-top-color:  #FFFFFF;
}