@charset "utf-8";
.box {
	width: 1300px;
	background-color: #FFF;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 40px;
}
.nav{
	font-size: 22px;
	width: 1300px;
	font-family: "新宋体";
	line-height: 50px;
	color: #666;
	text-align: center;
	float: left;
	height: 50px;
	margin-right: 2px;
}
.wz {
	height: 50px;
	width: 110px;
	float: left;
	font-size: 17px;
	margin-left: 30px;
}
.wz:hover {color:#284b89;cursor:
           pointer;transform:scale(1.2,1.2);
		    transform:all 0.5s;
}
.wz1:hover {color:#284b89;
            cursor: pointer;
			transform:scale(1.2,1.2)
}
.wz1{
	height: 50px;
	width: 110px;
	float: left;
	font-size: 17px;
	margin-left: 30px;
	color: #1d5177;
	cursor: pointer;
}
.pr {
	float: left;
	height: 50px;
	width: 150px;
	margin-left: 190px;
	margin-right: 190px;
}
.prv{
	float: right;
	height: 50px;
	width: 150px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.pr img {
	position: absolute;
	top: 58px;
}
.prv img {
	position: absolute;
	top: 62px;
}
.ph img {
	margin-top: 20px;
	
}
.xw1 {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
}
.xw2{
	text-align: center;
	margin-top: 55px;
	margin-bottom:40px;
}
.xw{
	text-align: center;
}
.zh{
	padding-top: 80px;
}

.xe {
	background-repeat: no-repeat;
	margin-left: 208px;
	background-position: left center;
}
.subtitle1{
	font-size: 18px;
	width: 1300px;
	font-family: "宋体";
	line-height: 50px;
	color: #333;
	text-align: right;
	float: left;
	height: 232px;
	margin-right: 2px;
	background-image: url(images/bj.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}

.subtitle{
	font-size: 18px;
	width: 1300px;
	font-family: "宋体";
	line-height: 50px;
	color: #333;
	text-align: right;
	float: left;
	height: 232px;
	background-image: url(images/bj.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.subtitle2{
	font-size: 18px;
	width: 1300px;
	font-family: "宋体";
	line-height: 50px;
	color: #333;
	text-align: right;
	float: left;
	height: 232px;
	background-image: url(images/bj.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.subtitle3{
	font-size: 18px;
	width: 1300px;
	font-family: "宋体";
	line-height: 50px;
	color: #333;
	text-align: right;
	float: left;
	height: 232px;
	background-image: url(images/bj.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 30px;
	margin-bottom: 200px;
}
.bi {
	margin-left: 208px;
	float: left;
}
.bi1 {
	margin-right: 208px;
	float: right;
}
.er {
	height: 140px;
	width: 450px;
	float: right;
	text-align: left;
	margin-top: 35px;
	font-family: "新宋体";
	font-size: 17px;
	line-height: 28.21px;
	margin-left: 33px;
	letter-spacing: -1px;
	margin-right: 208px;
	background-image: url(bj.png);
	display: inline-block;
	padding-right: 35px;
}
.er1 {
	height: 140px;
	width: 450px;
	float: left;
	text-align: left;
	margin-top: 35px;
	font-family: "新宋体";
	font-size: 17px;
	line-height: 28.21px;
	margin-left: 208px;
	letter-spacing: -1px;
	padding-left: 35px;
}
.h1 {
	font-family: "新宋体";
	font-size: 24px;
	line-height: 28.8px;
	letter-spacing: 4px;
	font-weight: bold;
}
.h3 {
	text-align: right;
}
.abc {
	text-align: center;
	float: left;
}
.po {
	text-align: center;
	float: none;
	padding-top: 50px;
	padding-bottom: 50px;
}
.bottom {
	background-image: url(../images/zhbj.png);
	width: 1300px;
	background-repeat: no-repeat;
	background-position: bottom;
	margin-top: 100px;
}
.one {
	padding-top:70px;
	padding-left: 200px;
}
.one b {
	font-family: "Adobe 楷体 Std R";
	letter-spacing: 4px;
	font-size: 37px;
	line-height: 24px;
	color: #83C5F2;
	font-weight: lighter;
}
.one l {
	font-family: "Adobe 宋体 Std L";
	letter-spacing: 2px;
	font-size: 39.6px;
	line-height: 22px;
	color: #83C5F2;
	
}
.two{
	padding-top:40px;
	padding-left: 200px;
}
.two b {
	font-family: "新宋体";
	letter-spacing: 3px;
	font-size:23px;
	line-height:28px;
	color: #4287C1;
}
.two l {
	font-family: "新宋体";
	letter-spacing: 5px;
	font-size: 16px;
	line-height: 18px;
	color: #4287C1;
	
}
.three{
	padding-top: 40px;
	padding-left: 200px;
	float: left;
}
.three b {
	font-family: "新宋体";
	letter-spacing: 3px;
	font-size: 11px;
	line-height: 18px;
	color: #4287C1;
}
.three l {
	font-family: "Adobe 宋体 Std L";
	letter-spacing: 5px;
	font-size: 13px;
	line-height: 22px;
	color: #83C5F2;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #83c5f2;
	width: 60px;
	padding-top: 10px;
	padding-right: 80px;
}
.three1{
	padding-top: 40px;
	padding-left: 60px;
	float: left;
}
.three1 b {
	font-family: "新宋体";
	letter-spacing: 3px;
	font-size: 11px;
	line-height: 18px;
	color: #4287C1;
}
.three1 l {
	font-family: "Adobe 宋体 Std L";
	letter-spacing: 5px;
	font-size: 13px;
	line-height: 22px;
	color: #83C5F2;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #83c5f2;
	width: 60px;
	padding-top: 10px;
	padding-right: 80px;
}
.three2{
	padding-top: 40px;
	padding-left: 60px;
	float: left;
}
.three2 b {
	font-family: "新宋体";
	letter-spacing: 3px;
	font-size: 11px;
	line-height: 18px;
	color: #4287C1;
}
.three2 l {
	font-family: "Adobe 宋体 Std L";
	letter-spacing: 5px;
	font-size: 13px;
	line-height: 22px;
	color: #83C5F2;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #83c5f2;
	width: 60px;
	padding-top: 10px;
	padding-right: 80px;
}
.three3{
	padding-top: 40px;
	padding-left: 60px;
	float: left;
}
.three3 b {
	font-family: "新宋体";
	letter-spacing: 3px;
	font-size: 11px;
	line-height: 18px;
	color: #4287C1;
}
.three3 l {
	font-family: "Adobe 宋体 Std L";
	letter-spacing: 5px;
	font-size: 13px;
	line-height: 22px;
	color: #83C5F2;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #83c5f2;
	width: 60px;
	padding-top: 10px;
	padding-right: 80px;
}
.five {
	font-family: "新宋体";
	padding-left: 220px;
	font-size: 11px;
	line-height: 140px;
	color: #4287C1;
}
.three3:hover {
	cursor: pointer;
}
.three2:hover {
	cursor: pointer;
}
.three1:hover {
	cursor: pointer;
}
.three:hover {
	cursor: pointer;
	}
	.three3 l:hover {
	cursor: pointer;
	color: #FFFFFF;
	border-top-color:  #FFFFFF;
}
.three2 l:hover {
	cursor: pointer;
	color: #FFFFFF;
	border-top-color:  #FFFFFF;
}
.three1 l:hover {
	cursor: pointer;
	color: #FFFFFF;
	border-top-color:  #FFFFFF;
}
.three l:hover {
	cursor: pointer;
	color: #FFFFFF;
	border-top-color:  #FFFFFF;
}
.title {
	font-family: "宋体";
	font-size: 28px;
	text-align: center;
	color: #284B89;
	margin-top: 80px;
}
.c1-1 {
	height: 50px;
	width: 380px;
	margin-right: 460px;
	margin-left: 460px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.c1-2 {
	height: 200px;
	width: 380px;
	margin-right: 460px;
	margin-left: 460px;
	margin-top: 20px;
	margin-bottom: 5px;
}
.c1-3 {
	height: 50px;
	width: 50px;
	margin-right: 625px;
	margin-left: 625px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.lang {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	color: #1355A6;
}
.lang1 {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	color: #40779F;
}
